cnn-introduction/MNIST_data
cnn-introduction/.ipynb_checkpoints
embedding-intro/models
embedding-intro/data
embedding-intro/glove
embedding-intro/.ipynb_checkpoints
embedding-intro/tsne/__pycache__
rnn-intro/.ipynb_checkpoints
rnn-intro/models
style-transfer/.ipynb_checkpoints
style-transfer/data
style-transfer/results
style-transfer/test
parallelization/data
parallelization/results
parallelization/.ipynb_checkpoints